body {
  overflow: scroll;
  min-height: calc(100% - 44px);
  font-family: Times, serif;
  line-height: 1.5em;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 480px) { body { font-size: 11pt !important; } }
@media (min-width: 480px) and (max-width: 768px) { body { font-size: 12pt !important; } }
@media (min-width: 768px) { body { font-size: 14pt !important; } }

p {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 0em;
}

button {
  background: none !important;
  border: none !important;
  /*padding: 0 !important;*/
  font-family: Times, serif;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  color: rgba(0, 0, 0, 0.4);
}

p.author a:hover {
  color: rgba(0, 0, 0, 0.4);
}

p.author {
  /*text-align: center;*/
  color: rgba(0, 0, 0, 0.2);
  padding: 0em;
  margin: 0em;
}

p.dialogue {
  /*font-style: italic;*/
  margin-left: 1em;
  margin-top: 0em !important;
}

div.poem {
  margin-top: 1em;
  text-align: center;
  font-style: italic;
}

div.poem p {
  margin-top: 0em;
}

p.author a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2em; !important;
  font-style: italic;
  font-weight: normal;
  text-align: left;
  padding: 0em;
  padding-top: 1em:
  margin: 0.4em 0 0.4em 0;
}

main {
  width: 100%;
  max-width: 38em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 45vh;
  margin-bottom: 2em;
  counter-reset: cnt;
}

main header {
  margin-bottom: 1em;
}

main header h1 {
  text-align: center !important;
  padding: 0em;
}

h2:before {
  content: counter(cnt, roman-numerals) ". ";
  counter-increment: cnt;
}

.cols {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /*margin-top: 1em;*/
  /*margin-bottom: 1em;*/
  padding: 0.2em;
}

.col {
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
}

article {
  padding: 1em 2em;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 12px 3px rgba(0, 0, 0, 0.2);
}

.quote:before {
  content: open-quote;
}

.quote:after {
  content: close-quote;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.star {
  overflow: visible;
  text-align: center;
}

hr.star:after {
  content: "✦";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1em;
  padding: 0 0.25em;
  background: white;
}

hr.onomato {
  overflow: visible;
  text-align: center;
}

hr.onomato:after {
  content: " bzzzzzzzzzt ";
  display: inline-block;
  position: relative;
  font-style: italic;
  top: -0.7em;
  font-size: 1em;
  padding: 0 0.25em;
  background: white;
}

@counter-style roman-numerals {
  system: fixed;
  symbols: "\2160" "\2161" "\2162" "\2163" "\2164" "\2165" "\2166" "\2167" "\2168" "\2169";
}

#back {
  display: block;
  position: fixed;
  top: 1em;
  left: 1em;
  font-weight: 700;
  font-size: 1.2em !important;
}

#render {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 2em;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.8;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

canvas {
  width: 100%;
  height: 100%;
}
